{% extends "base.html" %}


    {% block title %}
        <title>Update a book</title>
    {% endblock %}

    {% block statics %}
        <script src="/static/scripts/base.js"></script>
    {% endblock %}




{% block content %}
    <div class="container px-4" style="margin-top: 10%;">
    <div class="row gx-5">
      <div class="col">
       <div class="p-3 border">
        <div style="margin: auto; border-radius: 3px; padding: 10px;">
            <h2>Update</h2>
            <p><strong>ID:</strong> {{ book_to_update.id }}</p>
            <p><strong>Date:</strong> {{ book_to_update.date }}</p>
            <p><strong>Name:</strong> {{ book_to_update.name }}</p>
            <p><strong>Email:</strong> {{ book_to_update.email }}</p>
            <p><strong>For:</strong> {{ book_to_update.for_people }}</p>
        </div>
       </div>
      </div>
      <div class="col">
        <div class="p-3 border">
            <div style="margin: auto; border-radius: 3px;" >
                <form action="{{ url_for('update', id=book_to_update.id) }}" method="post">
                    <div class="title">
                        <h2 id="book" style="text-align: center;">Book a Table</h2>
                    </div>
                    <div class="form-group">
                      <label for="date_update">Date</label>
                      <input type="date" name="date_update" class="form-control" id="date_update" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                      <label for="name_update">Name</label>
                      <input type="text" class="form-control" name="name_update" id="name_update">
                    </div>
            
                    <div class="form-group">
                        <label for="email_update">Email</label>
                        <input type="email" class="form-control" name="email_update" id="email_update">
                    </div>
                    
                    <div class="form-group">
                        <label for="for_update">For</label>
                        <input type="number" class="form-control" name="for_update" id="for_update">
                    </div>
            
                    <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Submit</button>
                </form>
            </div>
        </div>
      </div>
    </div>
    </div>

    
    
    

    <!-- <form action="{{ url_for('update', id=book_to_update.id) }}" method="post">

        <div class="title">
            <h2 id="book" onclick="">Book a Table</h2>
        </div>

        <label for="date">Date:</label><br>
        <input type="date" name="date_update" id="date_update" autocomplete="off"><br>

        <label for="name">Name:</label><br>
        <input type="text" name="name_update" id="date_update" autocomplete="off"><br>

        <label for="email">Email:</label><br>
        <input type="email" name="email_update" id="date_update" autocomplete="off"><br>

        <label for="for">For:</label><br>
        <input type="number" name="for_update" id="date_update" autocomplete="off"><br>

        <button id="book-button">Update</button>
    </form> -->
{% endblock %}

